# Example Caddyfile.
{
	admin off
	order sharer   last
	order uploader last
}

http://127.0.0.1:29475 {
	root * /tmp/caddytest/

	@auth not {
		method GET
		path   /share/*
	}

	basicauth @auth {
		# Password: 123
		user JDJhJDE0JHhBdy5JSXVlLy41UVpOdVJPT3ZhVU9NcWVjV2taMkxIQlZkdG1OQzQ3bC54bHdHdWdxZklD
	}

	# GET  /share/share-code
	# POST /share?path=/path/to/file
	route /share* {
		uri strip_prefix /share
		sharer * /tmp/shares
		file_server browse
	}

	# POST   /upload?files=Y
	# POST   /upload?dir=X
	# DELETE /upload?files=
	route /upload* {
		uri strip_prefix /upload
		uploader
		redir * /browse{uri} 303 # See Other
	}

	handle_path /browse* {
		file_server {
			# The template requires /upload and /share to be on the parent of
			# /browse.
			browse ./browsetmpl.html
		}
	}

	redir / /browse
}
